<?php

// Enable user check?
$config['user_check_enabled'] = true;

// User check mode:
// 'whitelist': the username must match one of the filters
// 'blacklist': the username must not match any of the filters
$config['user_check_mode'] = 'whitelist';

// User check during:
// 'authenticate': the username is checked during login
// 'session': the username is checked if the user is authenticated
// 'both': the username is checked during login and if the user is authenticated
$config['user_check_during'] = 'both';

// User check filters:
// user@domain.tld: match the full username
// user or user@: only match the user portion of the username
// @domain.tld: only match the domain portion of the username
$config['user_check_filters'] = array('user1@domain1.tld', 'user2', '@domain2.tld');

// User check denied:
// Error message shown if user check fails during login
// Leave empty for default Roundcube error message
$config['user_check_denied'] = 'Login denied by configuration.';

?>
